@import 'nib'
global-reset()
*, *:before, *:after
  box-sizing border-box

/**
 * THEME
 * Variables
 */
@import 'theme/colors'
@import 'theme/sizes'
@import 'theme/globals'

/**
 * CORE
 * Variables and essential media query setup
 */
@import 'common/mixins'
@import 'type/fonts'
@import 'type/core'
@import 'type/styles'
@import 'core/media'
@import 'core/html'
@import 'core/inputs'
@import 'core/page'

/**
 * COMMON
 * Resources to setup behaviours and rules
 */
@import 'common/icons'

/**
 * ELEMENTS
 * Barebone application wrappers
 */
@import 'elements/forms'
@import 'elements/modal'

/**
 * COMPONENTS
 */
@import 'components/response'
@import 'components/editor'
@import 'components/overview'
@import 'components/footer'

