/**
 * FontAwesome icons
 */

div[class^="fa"]
  font-family FontAwesome
  font-size 1em
  
.fa
  &--pen:before
    content "\f044"
  &--url:before
    content "\f0c1"
  &--add:before
   content "\f055"
  &--edit:before
   content "\f0c9"
  &--bm:before
   content "\f02e"
  &--check:before
    content "\f00c"
  &--close:before
    content "\f00d"
  &--remove:before
    content "\f2d3"
  &--spinner:before
    content "\f110"
  