.footer_pagination
  position fixed
  bottom 0
  width 100%
  display flex
  justify-content center
  align-items center
  .page_links
  	padding 0em 2em
  	border .125em solid coral
  	border-radius 2em
  	border-bottom-left-radius 0
  	border-bottom-right-radius 0
  	border-bottom none
  	display flex
  	.link_wrap
  		margin 0 1em
  		padding .5em
  		cursor pointer
  		a, a:visited
  			color coral
  		&.is-active
  			a, a:visited
  				border-bottom 1px solid coral