.modal--response
	color inherit
	.is-card
		transform translateX(-50vw)
		opacity 0
	&.is-active .is-card
		transform translateX(0)
		opacity 1
	.body
		padding .5em 0
		display flex
		span
			margin-left 1em